body {
    background-color: black;
    font-family: Verdana, Tahoma, sans-serif;
}

.leftcontent {
    height: 100%;
    width: 850px;
    background-color: rgb(29 30 32);
    float: left;
    margin-top: 20px;
    padding-left: 10px;
}

.imagebackground {
    background-image: url("../image.jpg");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: auto;
    background-repeat: no-repeat;
    float: left;
    margin-top: 10px;
}

.leftcontent h1 {
    color: white;
    font-size: 56px;
    margin-left: 20px;
}

.leftcontent span {
    color: #00c483;
    margin-left: 20px;
}

.leftcontent p {
    color: #707072;
    font-size: 15px;
    line-height:25px;
    text-align: left;
    margin-left: 20px;
}

hr {
    height: 2px;
    background-color: #707072;
    border: none;
    width: 90%;
}

.leftcontent h2 {
    color: white;
    font-size: 40px;
    margin-left: 20px;
}

i {
    color: #00c483;
    margin-left: 20px;
    font-size: 24px;
}

.leftcontent h4 {
    color: white;
    margin-left: 20px;
}

.services {
    float: left;
    width: 400px;
    margin-bottom: 40px;
}

.imagebackground h1 {
    margin-top: 900px;
    color: white;
    text-align: center;
}

.imagebackground p {
    color: #00c483;
    text-align: center;
}
.description{
    line-height: 40px !important;
}
.databaseicon{
    margin-left:15px ;
}